#cef_navigation {
  display: block!important;
  margin:0;
  padding:0;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  height: 32px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
  color: #313336;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(242, 242, 242)), to(rgb(255, 255, 255)));
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(44, 44, 44);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(44, 44, 44);
   border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(44, 44, 44);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(44, 44, 44);
  border-top-style: none;
   border-top-width: 0px;
   box-shadow: rgba(1, 1, 1, 0.498039) 0px 0px 6px 0px;
   background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f2f2f2, #ffffff);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
}

/*MENU*/

#cef_navigation #cef_navigation_links_left {
    float: left;
    position: relative;
}

/*LOGO*/

#cef_navigation #cef_navigation_links_left .logo_recherche{
    float: left;
    margin-top: 6px;
    display: block;
    margin-left: 6px;
    padding: 0px;
}

 #cef_navigation_links_left > a:before {
    content: '・';
    vertical-align: middle;
  }


/*SEARCH*/

#cef_navigation #site_search_form {
    position: relative;
    margin-right: 20px;
  }

#cef_navigation #cef_search {
    top: 0;
    right: 0;
    padding: 0;
  }

#cef_navigation #cef_search:before {
    line-height: 24px;
    width: 24px;
    height: 24px;
  }

#cef_navigation input[type="text"] {
  width: 100%;
  display: block;
  font-size: 12px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
}

input[type="text"]:focus {
  outline: none;
}

#cef_navigation input[type="submit"] {
  padding: 0;
  white-space: nowrap;
  text-indent: 120%;
  overflow: hidden;
}

#cef_navigation #site_search_form input#site_search {
  padding: 0 30px 0 7px;
  margin: 0;
  height: 24px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  /* background-clip: padding-box; */
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* -webkit-box-sizing: border-box; */
  border: 1px solid #b2b2b2;
  min-width: 190px;
  border-radius: 15px 15px 15px 15px;
  }

#cef_navigation input#local_search{
  padding: 0 30px 0 7px;
  width: 120px;

}
  #cef_navigation .cef_nav_menu {
    top: 32px;
    background: #f2f2f2;
  }

/*réseaux sociaux*/

#cef_navigation #cef_navigation_links_right {
    float: right;
    margin-top: 6px;
    display: block;
    margin-right: 6px;
    padding: 0px;
}

#cef_navigation .cef_navigation_links a {
    color: #313336;
    text-decoration: none;
    font-style: normal;
    padding: 5px;
}

#cef_navigation .cef_navigation_links a:hover {
    color: #004e94;
    cursor: pointer;
}

#cef_navigation .cef_navigation_links a.active {
    color: black;
    cursor: default;
    font-weight: bold;
}

#cef_navigation .cef_navigation_links a.active:hover {
    text-decoration: none;
}

#cef_navigation #site_search_form {
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: 60px;
}

#site_search_form.cef_navigation_links a {
    vertical-align: -2px;
}


/* Menu déroulant */

#cef_navigation .cef_nav_menu {
    display: none;
    position: absolute;
    top: 23px;
    background-color: white;
    width: 400px;
    -webkit-box-shadow: 4px 6px 9px rgba(1,1,1,0.3);
    -moz-box-shadow: 4px 6px 9px rgba(1,1,1,0.3);
    box-shadow: 4px 6px 9px rgba(1,1,1,0.3);
    color: gray;
    padding: 7px 0;
    border: 1px solid #f2f2f2;
    z-index: 9999999;
}

#cef_navigation .cef_nav_menu.cef_nav_menu_small {
    width: 210px;
}

#cef_navigation .cef_nav_menu h3 {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
    text-decoration: none;
    font: normal normal bold 14px Arial, sans-serif;
    color: #3970bc;
    background-color: transparent;
    background-image: none;
}

#cef_navigation .cef_nav_menu ul {
    margin: 0 0 10px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style-type: disc;
    list-style-position: inside;
}

#cef_navigation .cef_nav_menu ul li {
    display: list-item;
    line-height: 20px;
}

#cef_navigation .cef_nav_menu div {
    width: 185px;
    display: block;
    float: left;
    margin-left: 10px;
}

.cef_nav_menu div.clear {
    float: none;
    clear: both;
    display: block;
}



/*RESPONSIVE*/

@media (max-width: 599px) {
#cef_navigation {
    display: none;}




