{% extends "admin_layout.html" %}

{% block content %}
	<p> Bienvenue {{ user.user|escape }}</p>
	<a href="{{ url }}"><b>{{ url_linktext }}</b></a>{% if user.super_admin %} | <a href="/admin/administrators"><b>Liste des contributeurs</b></a>{%endif%}
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$("table").dataTable({
					sPaginationType: "full_numbers",
					bLengthChange: false,
					iDisplayLength: 20
				});
			} );
		</script>



<h2>Liste des barres de navigation</h2>
<table id="navbars" cellpadding="5" cellspacing="0" border="0">
	<thead>
	<tr><th>Nom</th><th>URL</th><th>Auteur</th><th>Menus</th><th>Action</th></tr>
	</thead>
	<tbody>
	{% for navbar in navbars %}
	<tr>
		<td>{{ navbar.name|escape }}</td>
		<td><code>/api/{{ navbar.code|escape }}.js</code></td>
		<td>{{ navbar.author|escape }}</td>
		<td>
			<ul>
				{% if navbar.first_menu %}<li>{{ navbar.first_menu.name|escape }}</li>{% endif %}
				{% if navbar.second_menu %}<li>{{ navbar.second_menu.name|escape }}</li>{% endif %}
			</ul>
			
		</td>
		<td>
			<a class="button_link" href="/admin/navbars/{{ navbar.key }}/instructions">Instructions</a> 
			<a class="button_link" href="/admin/navbars/{{ navbar.key }}">Modifier</a> 
			{% if not menu.special_kind %}<a class="DELETE button_link" href="/admin/navbars/{{ navbar.key }}">Supprimer</a>{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>



<fieldset>
    <legend>Nouvelle barre de navigation</legend>
	<form action="/admin/navbars/" method="post" accept-charset="utf-8">
		Nom : <input type="text" name="name">
		Code : <input type="text" name="code" />
		<input type="submit" value="Créer" />
		<p><strong>Exemple</strong> (Nom) = <i>Service National des Vocations</i> ; (Code) = <i>cef/snv</i> ou <i>diocese/paris</i> (pas de majuscules, accents ni espaces...)</p>
	</form>
</fieldset>

{% if user.admin %}
<h2>Liste des menus personnalisés des utilisateurs</h2>
{%else%}
<h2>Liste de mes menus</h2>
{%endif%}
<table id="menus" cellpadding="5" cellspacing="0" border="0">
	<thead>
	<tr><th>Nom</th><!-- <th>Navbars</th> --><th>Auteur</th><th>Type special ?</th><th>Action</th></tr>
	</thead>
	<tbody>
	{% for menu in menus %}
	<tr>
		<td>{{ menu.name|escape }}</td>
		<!--<td>
			<ul>
				{% for navbar in menu.navbar_first_set %}<li>{{ navbar.name }}</li> {% endfor %}
				{% for navbar in menu.navbar_second_set %}<li>{{ navbar.name }}</li> {% endfor %}
			</ul>			
		</td>-->
		<td>{{ menu.author|escape }}</td>
		<td>{% if menu.special_kind %}"{{menu.special_kind}}"{% else %}--{% endif %}</td>
		<td>
			<a class="button_link" href="/admin/menus/{{ menu.key }}">Modifier</a> 
			{% if not menu.special_kind %}<a class="button_link DELETE" href="/admin/menus/{{ menu.key }}">Supprimer</a>{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<h2>Liste des menus communs</h2>
<table id="old_menus" cellpadding="5" cellspacing="0" border="0">
	<thead>
	<tr><th>Nom</th><!--<th>Navbars</th>--><th>Type special ?</th>{% if user.admin %}<th>Action</th>{%endif%}</tr>
	</thead>
	<tbody>
	{% for menu in commun_menus %}
	<tr>
		<td>{{ menu.name|escape }}</td>
		<!--<td>
			<ul>
				{% for navbar in menu.navbar_first_set %}<li>{{ navbar.name }}</li> {% endfor %}
				{% for navbar in menu.navbar_second_set %}<li>{{ navbar.name }}</li> {% endfor %}
			</ul>			
		</td>-->
		<td>{% if menu.special_kind %}"{{menu.special_kind}}"{% else %}--{% endif %}</td>
		{% if user.admin %}
		<td>
			<a class="button_link" href="/admin/menus/{{ menu.key }}">Modifier</a> 
			{% if not menu.special_kind %}<a class="button_link DELETE" href="/admin/menus/{{ menu.key }}">Supprimer</a>{% endif %}
		</td>
		{%endif%}
	</tr>
	{% endfor %}  
	</tbody>
</table>

<script type="text/javascript" charset="utf-8">
	$("a.DELETE").click(function() {
		if (confirm("Êtes-vous sûrs de vouloir supprimer cet élément ?")) {
			$.ajax({ type: "DELETE", url: $(this).attr("href"), success: function(message){ alert(message); window.location = ""; }});
		};
		return false;
	});
</script>

{% endblock %}